<div class="register-form-container">
  <div class="header" fxLayout="row">
    <h3 mat-dialog-title>Register</h3>
    <span fxFlex="1 1 auto"></span>
    <button
      class="dialog-close-button"
      mat-icon-button
      [routerLink]="['/welcome']"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-vertical-stepper
    class="register-form-stepper"
    orientation="vertical"
    linear
    #stepper
  >
    <mat-step editable="false" completed="false">
      <form class="register-form" [formGroup]="registerForm">
        <ng-template matStepLabel>Lookup account</ng-template>
        <p>
          Please enter the account number or email associated with
          your account.
        </p>
        <mat-form-field>
          <mat-label>Account # or Email</mat-label>
          <input
            type="text"
            matInput
            formControlName="accountQuery"
            #accountNumber
            (keyup.enter)="lookupAccount(accountNumber.value)"
          />
          <mat-hint
            >Account # on invoice, or email address associated with
            account.</mat-hint
          >
        </mat-form-field>
        <button mat-button color="primary">
          <mat-icon
            matSuffix
            (click)="lookupAccount(accountNumber.value)"
            >search</mat-icon
          >
        </button>
      </form>
      <h4 class="lookup-failed" *ngIf="lookupFailed">
        Unable to find account. Please contact us.
      </h4>
      <div
        class="company-name-confirmation"
        *ngIf="client"
        fxLayout="column"
        fxLayoutAlign="center start"
      >
        <h4 class="name-preview">{{ client?.name }}</h4>
        <div
          fxLayout="row"
          fxLayoutAlign="center center"
          class="confirmation-prompt"
          [hidden]="companyConfirmed"
        >
          <span>Is this correct?</span>
          <button
            mat-button
            aria-label="Confirm company name"
            class="confirm"
            color="primary"
            (click)="onConfirm(true)"
          >
            <!-- <mat-icon>check</mat-icon> -->
            Yes
          </button>
          <button
            mat-button
            aria-label="Reject company name"
            class="reject"
            (click)="onConfirm(false)"
          >
            <!-- <mat-icon>close</mat-icon> -->
            No
          </button>
        </div>
      </div>

      <div fxLayout="row">
        <span fxFlex="1 1 auto"></span>
        <button
          *ngIf="companyConfirmed"
          mat-flat-button
          matStepperNext
          color="primary"
          type="button"
          [disabled]="!companyConfirmed"
          (click)="onStepperNext(stepper)"
        >
          Send verification email
        </button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Verification Email</ng-template>
      <p>
        A verification email has been sent to the email address
        associated with
      </p>
      <p style="font-style: oblique">
        {{ client?.name }}
      </p>
      <p style="font-style: oblique">
        {{ contact?.email }}
      </p>
      <div fxLayout="row">
        <span fxFlex="1 1 auto"></span>
        <button
          mat-flat-button
          color="primary"
          #returnToLanding
          (click)="onReturnHome()"
        >
          Return to Homepage
        </button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
