<div class="landing-container">
  <div class="center">
    <div class="container mat-elevation-z8">
      <img
        src="/assets/kanova_brass_800px.png"
        alt=""
        class="kanova-logo"
      />
      <div class="login-buttons">
        <button
          mat-stroked-button
          color="primary"
          (click)="onRegister()"
        >
          Register
        </button>
        <button mat-raised-button color="primary" (click)="onLogin()">
          Login
        </button>
      </div>
    </div>
  </div>
</div>
