<div class="client-container">
  <!-- <div class="header">
    <span>Clients</span>
    <button
      type="button"
      class="btn btn-success btn-sm"
      (click)="createNewClient()"
    >
      Add Client
    </button>
  </div> -->
  <div class="dashboard">
    <app-client-table class="table"></app-client-table>
    <app-client-details class="details"></app-client-details>
  </div>
</div>

<!-- <div class="action-buttons">
  <button
    type="button"
    class="btn btn-success"
    (click)="createNewClient()"
  >
    Add Client
  </button>
</div> -->
