.client-container {
  .action-buttons {
    padding: 16px 0;
    display: flex;
    justify-content: flex-end;
  }

  .header {
    display: flex;
    align-items: baseline;
    // justify-content: space-between;
  }

  .dashboard {
    .table {
    }

    .details {
    }
  }
}
