@import '../../variables.scss';

.auth-container {
  display: flex;
  min-height: 100vh;
  background-color: #d4d4d4;
  // max-width: $page-max-width;

  .center {
    margin: auto;

    .container {
      padding: 24px;
      border-radius: 4px;
      background-color: white;
    }
  }
}
