<ng-container matColumnDef>
  <th
    mat-header-cell
    *matHeaderCellDef
    (click)="sort()"
    [class.datatable-header-sort]="sortable"
    [class.datatable-header-sort-asc]="
      sortable && sortDirection === 'asc'
    "
    [class.datatable-header-sort-desc]="
      sortable && sortDirection === 'desc'
    "
  >
    {{ getTitle() }}
    <mat-icon *ngIf="sortable">arrow_right_alt</mat-icon>
  </th>
  <td mat-cell *matCellDef="let data">
    <ng-container *ngIf="!template">{{ getData(data) }}</ng-container>
    <ng-container
      *ngTemplateOutlet="template; context: { $implicit: data }"
    ></ng-container>
  </td>
</ng-container>
