.table-container {
  position: relative;

  table {
    width: 100%;
    padding: 8px;
  }

  .table-filter {
    font-size: 14px;
    width: 90%;
  }

  .table-footer {
    display: flex;

    .spacer {
      flex: 1 1 auto;
    }
    mat-paginator {
    }
  }
}
