<div class="client-form-container">
  <div class="header">
    <h2 mat-dialog-title>Add a new client</h2>
    <span class="spacer"></span>
    <button
      class="dialog-close-button"
      mat-icon-button
      mat-dialog-close
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-vertical-stepper
    class="client-form-stepper"
    orientation="vertical"
    linear
  >
    <mat-step [stepControl]="clientForm" [editable]="true">
      <form [formGroup]="clientForm">
        <ng-template matStepLabel>Basic client info</ng-template>
        <p>
          <mat-form-field appearance="standard">
            <mat-label>Client Name</mat-label>
            <input
              matInput
              formControlName="clientName"
              placeholder="Placeholder"
              cdkFocusInitial
              required
            />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="standard">
            <mat-label>Account Number</mat-label>
            <input matInput formControlName="accountNumber" />
            <mat-hint>Leave blank to auto-generate</mat-hint>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="standard">
            <mat-select
              formControlName="businessType"
              placeholder="Business Type"
              required
            >
              <mat-option value="lighting-showroom"
                >Lighting Showroom</mat-option
              >
              <mat-option value="retail-store"
                >Furniture & Home Decoration Store</mat-option
              >
              <mat-option value="designer">Designer</mat-option>
              <mat-option value="contractor">Contractor</mat-option>
              <mat-option value="other">Other</mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="standard">
            <mat-select
              formControlName="accountType"
              placeholder="Account Type"
              required
            >
              <mat-option value="stocking"
                >Stocking Dealer</mat-option
              >
              <mat-option value="non-stocking"
                >Non-stocking Dealer</mat-option
              >
            </mat-select>
          </mat-form-field>
        </p>
      </form>

      <mat-dialog-actions align="end">
        <button mat-button matStepperNext>Next</button>
      </mat-dialog-actions>
    </mat-step>

    <mat-step [stepControl]="clientForm" [editable]="true">
      <form [formGroup]="clientForm">
        <ng-template matStepLabel>Client Payment Info</ng-template>

        <p>
          <mat-form-field appearance="standard">
            <mat-label>Tax Resale Number</mat-label>
            <input matInput formControlName="taxResaleNumber" />
            <mat-hint>Tax ID or SSN</mat-hint>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="standard">
            <mat-label>Discount</mat-label>
            <input
              matInput
              formControlName="discount"
              placeholder="Enter client discount"
            />
            <mat-hint>Defaults to 0%</mat-hint>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="standard">
            <mat-label>Payment Terms</mat-label>
            <input
              matInput
              formControlName="paymentTerms"
              placeholder="Payment Terms"
            />
            <mat-hint>ex. Net 30</mat-hint>
          </mat-form-field>
        </p>
      </form>
      <mat-dialog-actions align="end">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </mat-dialog-actions>
    </mat-step>

    <mat-step [stepControl]="clientForm" [editable]="true">
      <ng-template matStepLabel>Confirm</ng-template>

      <div></div>

      {{ clientForm.value | json }}

      <mat-dialog-actions align="end">
        <button mat-button matStepperPrevious>Back</button>
        <button
          mat-button
          matStepperNext
          color="primary"
          (click)="onSubmit()"
          [disabled]="!clientForm.valid"
        >
          Submit
        </button>
      </mat-dialog-actions>
    </mat-step>
  </mat-vertical-stepper>
</div>
