<div class="main-container">
  <mat-toolbar color="primary" class="toolbar">
    <span class="brand">
      <div class="brand-logo"></div>
      <h1 class="app-name">Kanova</h1>
    </span>
    <span class="spacer"></span>
    <button
      class="menu-button"
      mat-icon-button
      (click)="sideNav.toggle()"
      [style.visibility]="mobileQuery.matches ? 'visible' : 'hidden'"
    >
      <mat-icon>menu</mat-icon>
      <!-- Menu -->
    </button>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #sideNav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      [opened]="mobileQuery.matches ? false : true"
      [position]="mobileQuery.matches ? 'end' : 'start'"
    >
      <mat-nav-list>
        <div *ngFor="let nav of navLinks" class="nav-item-container">
          <a
            mat-list-item
            [routerLink]="nav.routerLink"
            class="nav-items"
          >
            <mat-icon color="primary">{{ nav.icon }}</mat-icon>
            <span class="nav-text">
              {{ nav.displayText }}
            </span>
          </a>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
