<div class="main-container">
  <mat-toolbar color="primary" class="toolbar">
    <h1 class="app-name">Responsive App</h1>
    <button (click)="sideNav.toggle()">Menu</button>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #sideNav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      [opened]="mobileQuery.matches ? false : true"
      [position]="mobileQuery.matches ? 'end' : 'start'"
    >
      <mat-nav-list>
        <div *ngFor="let nav of navLinks">
          <a mat-list-item [routerLink]="nav.routerLink">{{
            nav.displayText
          }}</a>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
