// Import material theming functions
@import '~@angular/material/theming';

// Copy the palettes from your selected theme (usually theme.scss).
$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-pink, A200, A100, A400);
$app-warn: mat-palette($mat-red);

$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);

$sidenav-width: 200px;
$sidenav-width--mobile: 200px;

$page-max-width: 1120px;
$module-padding--desktop: 24px;

$color-approval-green: #16c60c;
$color-field-highlight: #e8f0fe;
